/* Only possible because PostCSS preset env */
@custom-media --viewport-small (width < 734px);
@custom-media --viewport-medium (width < 1068px);

/* 
 * @url https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes#css_access
 * 
 * Use data attribute as content: 
 * content: attr(data-columns)
 * 
 * Or change styles according the data: 
 * [data-columns='3']
 */

/* Base */

@custom-selector :--heading
  [data-style="h1"],
  [data-style="h2"],
  [data-style="h3"],
  [data-style="h4"],
  [data-style="h5"],
  [data-style="h6"];

:--heading {
  margin-top: 20px;
  font-family: var(--text-font);
  font-weight: bold;
  color: var(--text-color);

  &:first-child {
    margin-top: 0;
  }
}

[data-style="h1"] {
  font-size: calc(var(--modular-scale) * 1.5 * var(--base-font-size));
}

[data-style="h2"] {
  font-size: calc(var(--modular-scale) * 1.25 * var(--base-font-size));
}

[data-style="h3"] {
  font-size: calc(var(--modular-scale) * 1.125 * var(--base-font-size));
}

[data-style="h4"] {
  font-size: calc(var(--modular-scale) * var(--base-font-size));
}

[data-style="h5"],
[data-style="h6"] {
  font-size: var(--base-font-size);
}

[data-style="small"] {
  font-size: calc(var(--modular-scale) * 0.8 * var(--base-font-size));
}

[data-style="bold"] {
  font-family: var(--text-font);
  font-weight: 700;
}

[data-style="italic"] {
  font-family: var(--text-font);
  font-style: italic;
}

[data-style="underline"] {
  font-family: var(--text-font);
  text-decoration: underline;
}

[data-style="ol"] {
  list-style-type: decimal;
  margin-left: 24px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }
}

[data-style="ul"] {
  list-style-type: disc;
  margin-left: 24px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }
}

[data-style="li"] {
  font-family: var(--text-font);
}

[data-style="p"] {
  font-size: var(--text-font-size);
  font-family: var(--text-font);
  line-height: var(--text-line-height);
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }
}

[data-style="blockquote"] {
  font-family: var(--text-font);
  line-height: var(--text-line-height);
  border-left: 4px solid silver;
  padding-left: 24px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  & > * {
    font-size: calc(var(--text-font-size) * 1.5);
    font-style: italic;
  }
}

[data-style="img"] {
  margin-top: 12px;
}

[data-style="a"] {
  font-family: var(--text-font);
  color: var(--link-color);
  text-decoration: underline;
}

[data-style="code"] {
  font-family: Conoslas, Menlo, monospace;
  font-size: 0.85em;
  background-color: silver;
  padding: 4px;
}

/* Layout */

[data-style="grid-template"] {
  display: grid;
  margin: auto;
  padding: 24px;

  &[data-variant="block"] {
    max-width: 1380px;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));

    @media (--viewport-small) {
      gap: 24px 0;
      grid-template-columns: 1fr;
      max-width: 380px;
    }
  }

  &[data-variant="card"],
  &[data-variant="divider"],
  &[data-variant="featured"],
  &[data-variant="gallery"],
  &[data-variant="headline"],
  &[data-variant="hero"],
  &[data-variant="image"],
  &[data-variant="quote"],
  &[data-variant="showcase"],
  &[data-variant="video"] {
    max-width: 1380px;
  }

  &[data-variant="text"] {
    max-width: 680px;
  }

  &[data-variant="footer"] {
    max-width: 1380px;

    & [data-style="legal"] {
      display: flex;
      justify-content: space-between;
    }
  }
}

/* Models */

[data-style="region"] {
  /* Dark theme css variables */
  &[data-theme="dark"] {
  }

  background-color: var(--region-bg-color);
}

[data-style="unit"] {
  background-color: var(--unit-bg-color);

  &[data-variant="block"] {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
  }
}

[data-style="video"] {
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
  width: 100%;
}

[data-style="picture"] {
  display: flex;

  @supports not (aspect-ratio: 16 / 9) {
    padding-top: 56.25%;
    position: relative;
    display: block;
    overflow: hidden;
  }
}

[data-style="image"] {
  object-fit: cover;

  @supports (aspect-ratio: 16 / 9) {
    aspect-ratio: 16 / 9;
  }

  @supports not (aspect-ratio: 16 / 9) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

[data-style="content"] {
  padding: 20px;
  flex: 1;
}

[data-style="icon"] {
  margin: auto;
}

[data-style="abstract"] {
  font-family: var(--text-font);
  color: var(--text-color);
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

[data-style="actions"] {
  margin: -4px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &[data-variant="button"] > [data-style="action"] {
    display: inline-flex;
    font-family: var(--text-font);
    color: white;
    border: 1px solid var(--link-color);
    background-color: var(--link-color);
    padding: 8px 16px;
    border-radius: 8px;

    &:last-child {
      background-color: var(--unit-bg-color);
      color: var(--link-color);
    }
  }
}

[data-style="action"] {
  display: inline-flex;
  font-family: var(--text-font);
  color: var(--link-color);
  margin: 4px;

  &:hover {
    text-decoration: underline;
  }
}

/* 
 * Apply CSS rules to a classes AND
 * targeting the CSS Attribute selectors
 * will isolate the styling within a Component.
 *
 * For styling isolation do not target HTML elements!
 */

[data-style="heading"] {
  font-family: var(--text-font);
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &[data-variant="block"] {
    font-size: calc(var(--modular-scale) * 1.25 * var(--base-font-size));
    font-weight: 700;
  }
}

[data-style="copyright"] {
  font-family: var(--text-font);
  color: gray;
  font-size: small;
}


[data-style="supporter"] {
  font-family: var(--text-font);
  color: gray;
  font-size: small;
}

[data-style="legal-nav"] {
  margin: 16px -4px;
}
